@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.button {
  @apply flex py-2 px-3 rounded transition-all ease-in-out duration-300 cursor-pointer min-h-10;
  &.button--default {
    @apply bg-gray-200 border-gray-300 hover:bg-gray-300 hover:border-gray-500;
  }
}
  &.button--primary {
    @apply bg-blue-600 text-white border-blue-700 hover:bg-blue-700 hover:border-blue-800;
  }

  &.button--secondary {
    @apply bg-green-600 text-white border-green-700 hover:bg-green-700 hover:border-green-800;
  }