@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import "tailwindcss";

:root {
  --background: #f8e3d7;
  --foreground: #261311;
  --button-background: #efd388;
  --button-hover: #ebdc5a;
  --form-background: #e6c8b7;
  --dark-accent: #532d25;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: 'Montserrat', sans-serif;
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Montserrat', sans-serif;
}

.button {
  color: var(--dark-accent); 
  @apply flex py-2 px-3 rounded transition-all ease-in-out duration-300 cursor-pointer min-h-10 font-semibold shadow-md;
  
  &.button--default {
    background-color: var(--button-background);
    border: 1px solid var(--button-background);
    
    &:hover {
      background-color: var(--button-hover);
      border-color: var(--button-hover);
      color: var(--foreground); 
      @apply shadow-lg;
    }
  }
}

form {
  background-color: var(--form-background);
  @apply p-6 rounded-xl shadow-inner;

  input, textarea {
    color: var(--foreground); 
    @apply border border-gray-300 rounded px-3 py-2 focus:outline-none w-full;
    
    &:focus {
      border-color: var(--button-background);
      box-shadow: 0 0 0 2px var(--button-background);
    }
  } 
}

p {
  color: var(--foreground);
}
