@import "tailwindcss";

:root {
  --background: #e6f165;
  --foreground: #56480d;
  --button-background: #e8ed70;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.button {
 
  color: var(--foreground);

  @apply flex py-2 px-3 rounded transition-all ease-in-out duration-300 cursor-pointer min-h-10;
  &.button--default {
    @apply bg-gray-200 border-gray-300 hover:bg-gray-300 hover:border-gray-500;
  }
}
form{
  background-color: rgb(166, 206, 153);
  input, textarea {
    @apply border border-gray-300 rounded px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500;
  } 
}
p{
  color: rgb(59, 34, 34);
}